<div class='ui right menu'>
	<a  (click)="cart.clear()" class="item">
		<i class="trash grey link icon"></i>
		<p style='color: grey'>ОЧИСТИТЬ КОРЗИНУ</p>
	</a>
	<a class="item" routerLink="/cart" style='width: 18em'> 
		<i class="cart green link icon"></i>
		<b>В КОРЗИНЕ:
			{{ cart.cartPrice | currency:"₽":"symbol":"2.2-2" }}
		</b>
	</a>
	<div class='ui right menu'>