<storeHeader></storeHeader>

<h2><b>Содержимое корзины:</b></h2>
<div class="ui centered grid">
<section class="eleven wide column">
	<table id='fillCart' class="ui celled table">
		<thead>
				    		<tr>
				    			<th> Товар </th>
				    			<th> Цена </th>
				    			<th> Кол-во </th>
				    		</tr>
		</thead>
		<tbody>
			<tr *ngIf="cart.lines.length == 0">
				 <td colspan="4" class="text-center">
				 В корзине пока ничего нет
				 </td>
			</tr>
			<tr *ngFor="let line of cart.lines">
					 <td>
					 	{{line.product.title}}
					 </td>
					 <td>
					 	{{line.product.price | currency:"₽":true:"2.2-2"}}
					 </td>
					 <td>
						<input type="number"
							style="width:5em"
							[value]="line.quantity"
							(change)="cart.updateQuantity(line.product, $event.target.value)" />
						<i class="close large grey link icon" (click)="cart.removeLine(line.product.id)"></i>
					 </td>
			</tr>
			<tr>
					<td>
						<b>Итого:</b>
					</td>
					<td></td>
					<td>
				 		<b>{{cart.cartPrice | currency:"₽":"symbol":"2.2-2"}}</b>
				 	</td>
			</tr>
		 </tbody>
	</table>

<checkout></checkout>

<button class="ui button grey" routerLink="/store">
	<i class='angle double left white icon'></i>
	Обратно в магазин
</button>

</section>
</div>

<br><br>

<storeFooter></storeFooter>
