<section class="ui left aligned contrainer" id="shelf">
    <h2 *ngIf="cart.lines.length != 0"><b>Для продолжения покупки заполните форму:</b></h2>

    <div class='ui message' *ngIf="orderSent">
        <h2>Спасибо!</h2>
        <p>Ваш заказ поступил в обработку</p>
        <p>С вами свяжется оператор</p>
    </div>

    <form *ngIf="!orderSent && cart.lines.length != 0" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)" class="ui form">
        <div class="field">
            <label>Имя</label>
            <input class="form-control" #name="ngModel" name="name" [(ngModel)]="order.name" required />
            <span *ngIf="submitted && name.invalid" class="ui pointing red basic label">
                Пожалуйста, заполните поле
            </span>
        </div><br>
        <div class="field">
            <label>Адрес</label>
            <input class="form-control" #adress="ngModel" name="adress" [(ngModel)]="order.adress" required />
            <span *ngIf="submitted && address.invalid" class="ui pointing red basic label">
                Введите адрес
            </span>
        </div><br>
        <div class="field">
            <label>Населенный пункт</label>
            <input class="form-control" #city="ngModel" name="city" [(ngModel)]="order.city" required />
            <span *ngIf="submitted && city.invalid" class="ui pointing red basic label">
                Введите населенный пункт
            </span>
        </div><br>
        <div class="field">
            <label>Регион</label>
            <input class="form-control" #state="ngModel" name="state" [(ngModel)]="order.state" required />
            <span *ngIf="submitted && state.invalid" class="ui pointing red basic label">
                Введите регион
            </span>
        </div><br>
        <div class="field">
            <label>Телефон</label>
            <input class="form-control" type="mobile" #phone="ngModel" name="phone" [(ngModel)]="order.phone"
                required />
            <span *ngIf="submitted && phone.invalid" class="ui left pointing red basic label">
                Введите номер телефона
            </span>
        </div><br>
        <div class="field">
            <label>Электронная почта</label>
            <input class="form-control" type="email" #mail="ngModel" name="mail" [(ngModel)]="order.mail" />
            <span *ngIf="submitted && mail.invalid" class="ui label red">
                Введите адрес электронной почты
            </span>
        </div><br>

        <button class="ui right floated button red" type="submit">Перейти к оплате</button>
        <br>
    </form>

</section>
<br><br>