<storeHeader [headerFull]=true></storeHeader>

<section id="wrap" class='ui sticky borderless menu'>
	<div class="ui icon input">
		<input class="item" type="text" placeholder='Поиск… Например: Доставка'>
		<i class="search green link icon"></i>
	</div>
	<a class="item" href=# alt='Вход/Регистрация'> Вход/регистрация </a>
</section>

<div class="ui equal height left aligned stretched grid">

	<div class="four wide column" id='left'>
		<nav class="ui vertical menu large width">
			<ul class="ui list">
				<br><br>
				<li class="item">
					<b><a routerLink='/store'><i class='angle double left green icon'></i>Вернутся в магазин</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/about' (click)="section='about'">О нас</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/use' (click)="section='use'">Как пользоватся?</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/shipping' (click)="section='shipping'">Доставка</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/payment' (click)="section='payment'">Оплата</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/problem' (click)="section='problem'">Что делать, если что-то пошло не так?</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/FAQ' (click)="section='FAQ'">Общие вопросы</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/contact' (click)="section='contact'">Оставить жалобу</a></b>
				</li><br>
				<li class="item">
					<b><a routerLink='/help/contact' (click)="section='contact'">Связаться с нами</a></b>
				</li> <br>
			</ul>
		</nav>
	</div>

	<div [ngSwitch]="section" class="ten wide left aligned column" id="shelf">
		<section *ngSwitchDefault id='about'>
			<h1>О нас</h1>
			Google Fonts (англ. Шрифты Гугл; ранее назывался Google Web Fonts) — библиотека более 800[1] свободно
			распространяемых шрифтов, интерактивный каталог для их просмотра, и прикладные программные интерфейсы для
			использования веб-шрифтов посредством CSS[2] и на Андроиде[3]. Сервис был запущен в 2010 году[4] и обновлён
			в 2011[5] и 2016[6].
		</section>
		<section *ngSwitchCase="'use'">
			<h1>Как пользоватся?</h1>
			Google Fonts (англ. Шрифты Гугл; ранее назывался Google Web Fonts) — библиотека более 800[1] свободно
			распространяемых шрифтов, интерактивный каталог для их просмотра, и прикладные программные интерфейсы для
			использования веб-шрифтов посредством CSS[2] и на Андроиде[3]. Сервис был запущен в 2010 году[4] и обновлён
			в 2011[5] и 2016[6]. Многие из шрифтов выпускаются под лицензией SIL Open Font License 1.1, некоторые под
			лицензией Apache[7]; то есть шрифты проекта являются свободным программным обеспечением. Шрифты также
			распространяются SkyFonts компании Monotype, сервисами Edge Web Fonts и Typekit фирмы Adobe. Каталог шрифтов
			Google предназначен для поиска и исследования шрифтов, сервис широко используется обслужив более 17
			триллионов запросов.
		</section>
		<section *ngSwitchCase="'shipping'">
			<h1>Доставка</h1>
			Среди популярных шрифтов: Open Sans, Roboto, Lato, Slabo 27px, Oswald и Lobster[8]. Библиотека
			поддерживается посредством официального репозитария GitHub github.com/google/fonts, где напрямую доступны
			шрифтовые файлы. Исходные файлы многих шрифтов доступны на git репозиториях Github организации
			github.com/googlefonts, наряду со свободно распространяемым инструментарием, используемым сообществом Google
			Fonts.
		</section>
		<section *ngSwitchCase="'payment'">
			<h1>Как оплатить?</h1>
			Google Fonts (англ. Шрифты Гугл; ранее назывался Google Web Fonts) — библиотека более 800[1] свободно
			распространяемых шрифтов, интерактивный каталог для их просмотра, и прикладные программные интерфейсы для
			использования веб-шрифтов посредством CSS[2] и на Андроиде[3]. Сервис был запущен в 2010 году[4] и обновлён
			в 2011[5] и 2016[6]. Многие из шрифтов выпускаются под лицензией SIL Open Font License 1.1, некоторые под
			лицензией Apache[7]; то есть шрифты проекта являются свободным программным обеспечением. Шрифты также
			распространяются SkyFonts компании Monotype, сервисами Edge Web Fonts и Typekit фирмы Adobe. Каталог шрифтов
			Google предназначен для поиска и исследования шрифтов, сервис широко используется обслужив более 17
			триллионов запросов.
			Среди популярных шрифтов: Open Sans, Roboto, Lato, Slabo 27px, Oswald и Lobster[8]. Библиотека
			поддерживается посредством официального репозитария GitHub github.com/google/fonts, где напрямую доступны
			шрифтовые файлы. Исходные файлы многих шрифтов доступны на git репозиториях Github организации
			github.com/googlefonts, наряду со свободно распространяемым инструментарием, используемым сообществом Google
			Fonts.
		</section>
		<section *ngSwitchCase="'problem'">
			<h1>Что делать, если что-то пошло не так?</h1>
			Среди популярных шрифтов: Open Sans, Roboto, Lato, Slabo 27px, Oswald и Lobster[8]. Библиотека
			поддерживается посредством официального репозитария GitHub github.com/google/fonts, где напрямую доступны
			шрифтовые файлы. Исходные файлы многих шрифтов доступны на git репозиториях Github организации
			github.com/googlefonts, наряду со свободно распространяемым инструментарием, используемым сообществом Google
			Fonts.
			Google Fonts (англ. Шрифты Гугл; ранее назывался Google Web Fonts) — библиотека более 800[1] свободно
			распространяемых шрифтов, интерактивный каталог для их просмотра, и прикладные программные интерфейсы для
			использования веб-шрифтов посредством CSS[2] и на Андроиде[3]. Сервис был запущен в 2010 году[4] и обновлён
			в 2011[5] и 2016[6]. Многие из шрифтов выпускаются под лицензией SIL Open Font License 1.1, некоторые под
			лицензией Apache[7]; то есть шрифты проекта являются свободным программным обеспечением. Шрифты также
			распространяются SkyFonts компании Monotype, сервисами Edge Web Fonts и Typekit фирмы Adobe. Каталог шрифтов
			Google предназначен для поиска и исследования шрифтов, сервис широко используется обслужив более 17
			триллионов запросов.
			Среди популярных шрифтов: Open Sans, Roboto, Lato, Slabo 27px, Oswald и Lobster[8]. Библиотека
			поддерживается посредством официального репозитария GitHub github.com/google/fonts, где напрямую доступны
			шрифтовые файлы. Исходные файлы многих шрифтов доступны на git репозиториях Github организации
			github.com/googlefonts, наряду со свободно распространяемым инструментарием, используемым сообществом Google
			Fonts.
		</section>
		<section *ngSwitchCase="'FAQ'">
			<h1>Общие вопросы</h1>
			Среди популярных шрифтов: Open Sans, Roboto, Lato, Slabo 27px, Oswald и Lobster[8]. Библиотека
			поддерживается посредством официального репозитария GitHub github.com/google/fonts, где напрямую доступны
			шрифтовые файлы. Исходные файлы многих шрифтов доступны на git репозиториях Github организации
			github.com/googlefonts, наряду со свободно распространяемым инструментарием, используемым сообществом Google
			Fonts.
			Google Fonts (англ. Шрифты Гугл; ранее назывался Google Web Fonts) — библиотека более 800[1] свободно
			распространяемых шрифтов, интерактивный каталог для их просмотра, и прикладные программные интерфейсы для
			использования веб-шрифтов посредством CSS[2] и на Андроиде[3]. Сервис был запущен в 2010 году[4] и обновлён
			в 2011[5] и 2016[6]. Многие из шрифтов выпускаются под лицензией SIL Open Font License 1.1, некоторые под
			лицензией Apache[7]; то есть шрифты проекта являются свободным программным обеспечением. Шрифты также
			распространяются SkyFonts компании Monotype, сервисами Edge Web Fonts и Typekit фирмы Adobe. Каталог шрифтов
			Google предназначен для поиска и исследования шрифтов, сервис широко используется обслужив более 17
			триллионов запросов.
		</section>
		<section *ngSwitchCase="'contact'">
			<h1>Оставить жалобу/Связаться с нами</h1>
			<message-form></message-form>
		</section>
	</div>

	<section class="two wide center aligned column" id="shelf">
		<div class='ui sitcky label'>
			<br><br><br><br>
			<p> Остались вопросы? </p>
			<p> Задайте их по телефону: </p>
			<a href="tel:+666 666"> +666 666 </a>
		</div>
	</section>

</div>
<storeFooter></storeFooter>
