<form #form="ngForm" novalidate (ngSubmit)="submitMessage(form)" class="ui form" style="padding-bottom:2em">
    <div class="field">
        <label>Как к Вам обращаться?</label>
        <input class="form-control" #name="ngModel" name="name" [(ngModel)]="message.name" required />
        <span *ngIf="submitted && name.invalid" class="ui pointing red basic label">
            Пожалуйста, заполните поле
        </span>
    </div><br>
    <div class="field">
        <label>Электронная почта</label>
        <input class="form-control" type="email" #mail="ngModel" name="mail" [(ngModel)]="message.mail" />
        <span *ngIf="submitted && mail.invalid" class="ui label red">
            Введите адрес электронной почты
        </span>
    </div><br>
    <div class="field">
        <label>Телефон</label>
        <input class="form-control" type="mobile" #phone="ngModel" name="phone" [(ngModel)]="message.phone" required />
        <span *ngIf="submitted && phone.invalid" class="ui left pointing red basic label">
            Введите номер телефона
        </span>
    </div><br>
    <div class="field">
        <label>Ваше обращение:</label>
        <textarea class="form-control" name="content" [(ngModel)]="message.content" required> </textarea>
        <span *ngIf="submitted && content.invalid" class="ui pointing red basic label">
            Введите текст обращения
        </span>
    </div><br>
    <div class="field">
        <label>Выберите форму обратной связи:</label>
        <select class="form-control" name="feedback" [(ngModel)]="message.feedback">
            <option value="0">По почте</option>
            <option value="1">По телефону</option>
            <option value="2">Не нуждаюсь в обратной связи</option>
        </select>
        <span *ngIf="submitted && content.invalid" class="ui pointing red basic label">
            !
        </span>
    </div><br>
    <button class="ui button red" type="submit">Отправить</button>
    <label *ngIf="messageSent">
        <h2>Спасибо за то, что пользуетесь нашими услугами</h2>
        <p>Ваше обращение поступило в обработку</p>
    </label>
</form>