<br><br>
<div class="ui cards" id='range' *ngIf="currentproduct == null">
	<div *ngFor="let product of products" class="ui card">
		<img class="ui centered small image" src={{product.src}}>
		<div class="content">
			<div class="title" (click)="openCard(product)">{{product.title}}</div>
		</div>
		<div class="extra content">
			<div class="priceAdd">
				<span class="right floated">
					<button *ngIf="cart.isPresent(product)==false || cart.getQuantity(product) == 0"
					class="ui green button" (click)="addProductToCart(product)">
					<h5>ДОБАВИТЬ</h5>
				</button>
				<input *ngIf="cart.isPresent(product) && cart.getQuantity(product) != 0" type="number" min=0
				[value]="cart.getQuantity(product)"
				(change)="cart.updateQuantity(product, $event.target.value)">
			</span>
			<h4><b>{{ product.price | currency:"₽":"symbol":"2.2-2" }}</b></h4>
		</div>
	</div>
</div>
</div>

<div id='item-card' *ngIf="currentproduct != null">
	<div class="ui top left attached label" id='item-card-categories'>
		<h5>{{currentproduct.categories}} - {{currentproduct.subCat}}</h5>
	</div>
	<button class="ui top right attached massive label" (click)="closeCard()">
		<i class="black close icon"></i>
	</button>
	<br>
	<section class="ui grid">

		<div class="eight wide column"><img class="ui middle aligned image"
			src='assets/goods/{{currentproduct.id}}.png'> </div>

			<section class="six wide center aligned column">
				<h1>{{currentproduct.title}}</h1>
				<div class='ui bottom aligned borderless menu'>
					<h3 class='item'>{{currentproduct.price}} р/шт</h3>
					<button *ngIf="cart.isPresent(currentproduct)==false || cart.getQuantity(currentproduct) == 0"
					class="ui green button" (click)="addProductToCart(currentproduct)">
					Добавить в корзину
				</button>
				<input *ngIf="cart.isPresent(currentproduct) && cart.getQuantity(currentproduct) != 0"
				type="number" min=0 [value]="cart.getQuantity(currentproduct)"
				(change)="cart.updateQuantity(currentproduct, $event.target.value)">
			</div>
		</section>

	</section>
	<hr>
	<section class='ui left aligned container'>
		<sui-tabset>
			<div class="ui pointing secondary green menu">
				<a class="item" suiTabHeader="1">О товаре</a>
				<a class="item" suiTabHeader="2">Отзывы</a>
			</div>
			<div class="ui bottom attached segment" suiTabContent="1">
				<p class='item-card-desc'>
				</p>
				<h4> <b>Состав</b></h4>
				<p [innerHTML]="currentproduct.comp"></p>
				<h4> <b>Пищевая ценность на 100 г </b></h4>
				<p [innerHTML]="currentproduct.energy"></p>
				<h4><b> Срок годности и условия хранения </b></h4>
				<p [innerHTML]="currentproduct.storing"></p>
			</div>
			<div class="ui bottom attached segment" suiTabContent="2">
				На этот товар пока не оставлено ни одного отзыва
			</div>
		</sui-tabset>
		<h5>Купить товар с доставкой на дом или в офис в интернет-магазине. При оформлении заказа через
			сайт,
			контактный центр или мобильное приложение вы получите привилегии участников Клуба «Шестерочка».
			Доставка продуктов питания и сопутствующих товаров работает ежедневно без выходных.
			<br>Мы доставляем продукты со сроком годности не менее 50%
			<br>При получении заказа вы можете отказаться от любых товаров
			<br>Бережная доставка продуктов в специальных контейнерах</h5>
			<br>
		</section>
	</div>

	<section *ngIf="currentproduct == null">
		<div>
			<select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
				<option value="5">показывать по 5</option>
				<option value="10">показывать по 10</option>
				<option value="20">показывать по 20</option>
			</select>
		</div>

		<div>
			<button *counter="let page of pageCount" (click)="changePage(page)" class="ui green button"
			[class.active]="page == selectedPage">
			{{page}}
		</button>

		<button class="ui bottom right attached label" routerLink="/admin">
			Вы администратор?<br>
			.
		</button>
	</div>
</section>

<br><br>
