
<nav class="ui vertical menu large width">
	<div class="ui list dropdown" style="">
		<li class="item" 
		(click)="changeCategory()" 
		(click)="sendCategory()"
		(click)="sendSubcat()"
		style="padding-top:1em; padding-bottom:1em; padding-left:1em;">
		<b>Все товары</b>
	</li>
		<li *ngFor="let cat of categories" class="ui dropdown item" suiDropdown
		[class.active]="cat == selectedCategory" 
		(click)="changeCategory(cat)"
		(click)="sendCategory()"
		(click)="sendSubcat()"
		style="padding-top:1em; padding-bottom:1em; padding-left:1em;">
		<b>{{cat}}</b>
		<ul class="menu" suiDropdownMenu>
			<li *ngFor="let scat of subcategories" class="item" [class.active]="scat == selectedSubcategory"
			(click)="changeSubcategory(scat)"
			(click)="sendSubcat()">
			{{scat}}
			</li>
		</ul>
	</li>
	<br><br>
	</div>
</nav>
