@media (max-width: 600) {
      #sliderplaceholder {
           display: none;
       }
}

#sliderplaceholder{
	width: 1280px;
	margin: 0 auto;
	height: 400px;
	background-color: grey;
	justify-content: center;
}

.slider {
	margin: 0 auto;
	padding: 0;
    background-color: grey;
	width: 1280px;
	height: 400px;
	list-style: disc;
}

.slider li {
	width: 1280px;
	height: 400px;
	margin: 0 auto;
	padding: 0;
    list-style: none;
    position: absolute;
}

.slider input {
    display: none;
}

.slider label {
    background-color: white;
    border: .2em solid green;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: 1em;
    height: 1em;
    visibility: visible;
    z-index: 10;
    display: inline-flex;
}

.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: transparent;
}
.slider:hover li{
	margin-right: 20px;
}
.slider:hover li:nth-child(1) label {
    left: 48%;
}
.slider:hover li:nth-child(2) label {
    left: 50%;
}
.slider:hover li:nth-child(3) label {
    left: 52%;
}

.slider img {
    opacity: 0;
    transition: .5s;
    vertical-align: top;
    visibility: hidden;
    width: 1280px;
    height: 400px;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
}