<div id='sliderplaceholder' style="margin-bottom: 1em">
  <ul class="slider">
      <li *ngFor="let slide of slides; let i = index">
          <input type="radio" id="slide{{i}}" name="slide" checked>
          <label for="slide{{i}}"></label>
          <img src={{slide.src}} alt={{slide.alt}}>
      </li>
  </ul>
</div>