<footer class="ui inverted grey vertical footer segment">
    <div class='ui container right aligned'>
        <a href='tel:+666666666' alt='Номер'> +6 (666) 666 6666 </a><br>
        <p><a href='mailto:6@mail.com' type='em' alt='Почта'> 6@mail.com </a></p>
        <p>Круглосуточно вы можете оформить заказ по телефону или получить ответы на любые интересующие вас вопросы.
        </p>
        <p>Есть вопрос? Напишите нам письмо
            или воспользуйтесь формой обратной связи</p><br>
    </div>
    <div class='ui container center aligned'>
        <h5>
            Интернет-магазин Шестёрочка - доставка продуктов на дом в N-городе и N-городской области. <br>
            © 1999 – 2019 АО «Торговый дом «Шестерочка». Любое использование контента без письменного разрешения АО
            «Торговый дом «Шестерочка» запрещено</h5>
        <br>
    </div>
</footer>