<storeHeader [headerFull]=true></storeHeader>

<section id="wrap" class='ui borderless menu'>
	<div class="ui icon input">
		<input class="item" type="text" placeholder='Поиск… Например: Пломбир'>
		<i class="search green link icon"></i>
	</div>
	<a class="item" href=# alt='Вход/Регистрация'> Вход/регистрация </a>
	<div class='ui right menu'>
		<cart-summary></cart-summary>
	</div>
</section>

<slide-show *ngIf="!currentproduct"></slide-show>

<div class="ui grid">
	<div class="four wide equal height stretched column" id='left'>
		<sidebar 
		(categoryEvent)="receiveCategory($event)"
		(subcatEvent)="receiveSubcat($event)"
		>
		</sidebar>
	</div>
	<section class="twelve wide column"  id="shelf">
		<product-list 
		[selectedCategory]="appParentCategory"
		[selectedSubcategory]="appParentSubcat"
		>
		</product-list>
	</section>
</div>
<storeFooter></storeFooter>
