<header class="ui green inverted borderless tiered menu">
    <img src="assets/lwhite.png" class="item" width='370px' height="85px">
    <a *ngIf='headerFull' class="item" [routerLink]="['/help', 'shipping']" alt='Доставка'>
        <h2>Доставка</h2>
    </a>
    <a *ngIf='headerFull' class="item" [routerLink]="['/help', 'payment']" alt='Оплата'>
        <h2>Оплата</h2>
    </a>
    <a *ngIf='headerFull' class="item" [routerLink]="['/help', 'about']" alt='О нас'>
        <h2>О нас </h2>
    </a>
    <a *ngIf='headerFull' class="item" [routerLink]="['/help', 'FAQ']" alt='FAQ'>
        <h2>FAQ</h2>
    </a>
    <a class="item" *ngIf='!headerFull' routerLink='/store' alt='Назад'>
        <h2>На главную страницу</h2>
    </a>
    <a class="item" *ngIf='!headerFull' [routerLink]="['/help', 'payment']" alt='Помощь'>
            Остались вопросы?
    </a>
    <div class="right menu primary">
        <a class="item">
            <h2>Москва</h2>
        </a>
        <a href='tel:+666666666' alt='Номер' class='item'>
            <h2>Телефон горячей линии: +6 (666) 666 6666</h2>
        </a>
    </div>
    <br>
</header>