body{
    overflow-x: auto;
    margin: 10px;
}

.ui .button{
    margin-top: 1em;
    margin-bottom: 1em;
}

table{
    margin: 2em;
}

textarea{
    min-width: 10em;
    min-height: 5em;
    margin: 1em;
}

input{
    min-width: 10em;
    margin: 1em;
}