<body>
    <div>
        <div>
            <a>ШЕСТЕРОЧКА</a>
        </div>
    </div>
    <div class="ui grid" style='padding-bottom:10em;'>
        <div class="three wide equal height stretched column">
            <div class='ui fixed inverted vertical menu'>
                <li class='ui item blue fluid' routerLink="/admin/main/messages" routerLinkActive="active">
                    <i class='ui envelope white icon'></i>Обращения
                </li><br>
                <li class='ui item teal fluid' routerLink="/admin/main/slides" routerLinkActive="active">
                    <i class='ui film white icon'></i>Слайды
                </li><br>
                <li class='ui item olive fluid' routerLink="/admin/main/products" routerLinkActive="active">
                    <i class='ui table white icon'></i>Ассортимент
                </li><br>
                <li class='ui item orange fluid' routerLink="/admin/main/orders" routerLinkActive="active">
                    <i class='ui tasks white icon'></i>Заказы
                </li><br>
                <li class='ui item red fluid' (click)="logout()">
                    <i class='ui undo white icon'></i>Выйти
                </li><br>
            </div>
        </div>
        <div class="thirteen wide column">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>