<div>
    <h3>Вход для администратора</h3>
</div>
<label *ngIf="errorMessage != null">
    {{errorMessage}}
</label>
<div>
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
        <div class="form-group">
            <label>Логин (admin)</label>
            <input class="form-control" value="admin" name="username" [(ngModel)]="username" required />
        </div>
        <div class="form-group">
            <label>Пароль (secret)</label>
            <input class="form-control" value="secret" type="password" name="password" [(ngModel)]="password" required />
        </div>
        <div class="text-center">
            <button type="submit">Войти</button>
            <button class='ui red button' routerLink="/">Назад</button>
        </div>
    </form>
</div>