<div class="ui blue message">
		<p>Менеджер обращений</p>
</div>

<table class="ui celled blue table">
	<thead>
		<tr>
			<th>id</th>
			<th>Отправитель</th>
			<th>Почта</th>
			<th>Телефон</th>
			<th>Обращение</th>
			<th>Форма связи</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngIf="getMessages().length == 0">
			<td colspan="8">Пусто</td>
		</tr>
		<ng-template ngFor let-m [ngForOf]="getMessages()">
			<tr>
				<td>{{m.id}}</td>
				<td>{{m.name}}</td>
				<td>{{m.mail}}</td>
				<td>{{m.phone}}</td>
				<td>{{m.content}}</td>
				<td *ngIf='m.feedback == 0'>Почта</td>
				<td *ngIf='m.feedback == 1'>Телефон</td>
				<td *ngIf='m.feedback == 2'>Нет</td>
				<td>
					<button class="ui red button" (click)="delete(m.id)">
						Удалить
					</button>
				</td>
			</tr>
		</ng-template>
	</tbody>
</table>