<div class="ui orange message">
		<p>Менеджер заказов</p>
</div>

<div>
	<label>
		<input type="checkbox" [(ngModel)]="includeShipped" />
		Показывать доставленное
	</label>
</div>
<table class="ui celled orange table">
	<thead>
		<tr>
			<th>Заказчик</th>
			<th>Адрес</th>
			<th colspan="2">Корзина</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngIf="getOrders().length == 0">
			<td colspan="5">На данный момент заказов нет</td>
		</tr>
		<ng-template ngFor let-o [ngForOf]="getOrders()">
			<tr>
				<td>{{o.name}}</td>
				<td>{{o.adress}}</td>
				<th>Наименование</th>
				<th>Кол-во</th>
				<td>
					<button class="ui violet button" (click)="markShipped(o)">
						Отправлено
					</button>
					<button class="ui red button" (click)="delete(o.id)">
						Удалить
					</button>
				</td>
			</tr>
			<tr *ngFor="let line of o.cart.lines">
				<td colspan="2"></td>
				<td>{{line.product.title}}</td>
				<td>{{line.quantity}}</td>
			</tr>
		</ng-template>
	</tbody>
</table>