<div [class.bg-warning]="editing" [class.text-dark]="editing">
    <h5>{{editing ? "Edit" : "Create"}} Product</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label>Название</label>
        <input class="form-control" name="title" [(ngModel)]="product.title" />
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input class="form-control" name="price" [(ngModel)]="product.price" />
    </div>
    <div class="form-group">
        <label>Категория</label>
        <select class="form-control" name="categories" [(ngModel)]="product.categories">
            <option *ngFor="let cat of categories" value="{{cat.category}}">{{cat.category}}</option>
        </select>
    </div>
    <div *ngFor="let cat of categories">
        <div class="form-group" *ngIf='product.categories == cat.category'>
            <label>Подкатегория</label>
            <select class="form-control" name="subCat" [(ngModel)]="product.subCat">
                <option *ngFor="let scat of cat.subcategories" value="{{scat}}">{{scat}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" name="desc" [(ngModel)]="product.desc">
        </textarea>
    </div>
    <div class="form-group">
        <label>Состав</label>
        <textarea class="form-control" name="comp" [(ngModel)]="product.comp">
            </textarea>
    </div>
    <div class="form-group">
        <label>Энергетическая ценность</label>
        <textarea class="form-control" name="energy" [(ngModel)]="product.energy">
                </textarea>
    </div>
    <div class="form-group">
        <label>Условия хранения</label>
        <textarea class="form-control" name="storing" [(ngModel)]="product.storing">
                    </textarea>
    </div>
    <div class="form-group">
            <label>Изображение</label>
            <input class="form-control" name="src" [(ngModel)]="product.src" />
    </div>


    <button type="submit" class="ui violet button" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="ui red button" routerLink="/admin/main/products">
        Cancel
    </button>
</form>