<div class="ui olive message">
        <p>Менеджер товаров</p>
    </div>

<table class="ui celled yellow table" style='font-size:0.8em'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th>Описание</th>
            <th>Состав</th>
            <th>Энергетическая ценность</th>
            <th>Условия хранения</th>
            <th>Изображение</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of getProducts()">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price | currency:"USD":"symbol":"2.2-2"}}</td>
            <td>{{p.categories}}</td>
            <td>{{p.subCat}}</td>
            <td>{{p.desc}}</td>
            <td>{{p.comp}}</td>
            <td>{{p.energy}}</td>
            <td>{{p.storing}}</td>
            <td><img class="ui tiny image" src={{p.src}}></td>
            <td>
                <button class="ui violet button" [routerLink]="['/admin/main/products/edit', p.id]">
                    Редактировать
                </button>
                <button class="ui red button" (click)="deleteProduct(p.id)">
                    Удалить
                </button>
            </td>
        </tr>
    </tbody>
</table>

<section>
    <div>
        <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
            <option value="5">показывать по 5</option>
            <option value="10">показывать по 10</option>
            <option value="20">показывать по 20</option>
        </select>
    </div>
    <div>
        <button *counter="let page of pageCount" (click)="changePage(page)" class="ui green button"
            [class.active]="page == selectedPage">
            {{page}}
        </button>
    </div>
</section>

<button class="ui green button" routerLink="/admin/main/products/create">
    Добавить Новый Товар
</button>