<div class="ui teal message">
	<p>Менеджер слайдов</p>
</div>

<table class="ui celled teal table">
	<thead>
		<tr>
			<th>id</th>
			<th>Source</th>
			<th>Alt</th>
			<th>Миниатюра</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngIf="getSlides().length == 0">
			<td colspan="5">Пусто</td>
		</tr>
		<ng-template ngFor let-s [ngForOf]="getSlides()">
			<tr>
				<td>{{s.id}}</td>
				<td>{{s.src}}</td>
				<td>{{s.alt}}</td>
				<td><img class="ui small image" src={{s.src}}></td>
				<td>
					<button class="ui violet button" (click)='editedSlide = s'>
						Заменить
					</button>
				</td>
			</tr>
		</ng-template>
	</tbody>
</table>

<div *ngIf='editedSlide'>
	<div class="ui message">
		<p>Редактор</p>
	</div>
	<form novalidate #form="ngForm" (ngSubmit)="save(form)">
		<div class="form-group">
			<label>Source</label>
			<input class="form-control" name="src" [(ngModel)]="editedSlide.src" />
		</div>
		<div class="form-group">
			<label>Alt</label>
			<input class="form-control" name="alt" [(ngModel)]="editedSlide.alt" />
		</div>
		<button type="submit" class="ui teal button">
			Сохранить
		</button>
	</form>
</div>